input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;
}
.col-form-label {
    font-weight: bold;
    font-size: 12px;
    font-family: "Kanit", sans-serif;
}

.form-control {
    background-color: white;
    width: 100%;
    border-radius: 0;
}

.form-control:focus {
    outline: none;
}

.justify-content-md-center {
    margin-top: 50px;
    background-color: white;
}

.form-group {
    margin: 10px;
}

.submit-header {
    display: flex;
    background-color: #0c8397;
    padding: 15px;
}

.btn-primary {
    /* width: 100px; */
    font-size: 15px;
    margin-left: 1em;
    margin-top: 10%;
    background-color: #ee7033;
    border-radius: 4px;
    color: white;
    border: none;
}
.header-box{
    width: 100%;
    display: flex;
    color: #ffffff;
}
.header-box .title{
    width: 100%;
    text-align: center;
    flex-grow: 1;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.alert-danger {
    color: #d8000c;
    background-color: #ffbaba;
}
