<form novalidate #form="ngForm" (submit)="onTransfer(form.value); form.resetForm()"
  class="justify-content-md-center">
  <div class="submit-header">
    <div class="header-box"><img class="transfer-img" src="/assets/icons/arrows.png" /><div class="title">Make a Transfer</div></div>
  </div>
  <div class="pb-2">
    <div class="form-group">
      <label for="example-text-input" class="col-md-12 col-form-label">FROM ACCOUNT</label>
      <label for="example-text-input-2" class="col-md-12 col-form-label" [hidden]="!isConfirmed">
        {{data.value.fromAccount}}
        -
        {{data.value.currency}}{{data.value.amount}}</label>
      <div class="row">
        <div class="col-md-12" [hidden]="isConfirmed">
          <input class="form-control col-md-12" type="text"
            value="{{data.value.fromAccount}} - {{data.value.currency}}{{data.value.amount}}" [disabled]="true">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="example-text-input" class="col-md-12 col-form-label">TO ACCOUNT</label>
      <label for="example-text-input-2" class="col-md-12 col-form-label" [hidden]="!isConfirmed">
        {{data.value.toAccount}}</label>
      <div class="row">
        <div class="col-md-12" [hidden]="isConfirmed">
          <input class="form-control col-md-12" name="toAccount" type="text" id="toAccount"
            placeholder="Georgia Power electric company" [(ngModel)]="data.value.toAccount" #toAccount="ngModel"
            required>
        </div>
      </div>
      <div [hidden]="toAccount.valid || toAccount.pristine" class="alert alert-danger">
        To Account is required
      </div>
    </div>
    <div class="form-group">
      <label for="example-number" class="col-md-12 col-form-label">AMOUNT</label>
      <label for="example-number-2" class="col-md-12 col-form-label" [hidden]="!isConfirmed">
        {{data.value.rateInput}}</label>
      <div class="row">
        <div class="col-md-12" [hidden]="isConfirmed">
          <input class="form-control col-md-12" type="number" id="rateInput" placeholder="$ 0.00"
            [(ngModel)]="data.value.rateInput" #rateInput="ngModel" name="rateInput"
            (ngModelChange)="changeAmount($event)" required>
        </div>
      </div>
      <div [hidden]="rateInput.valid || rateInput.pristine" class="alert alert-danger">
        Amount required
      </div>
      <div *ngIf="isOverAmount" class="alert alert-danger">
        Amount cannot over 500
      </div>
      <div *ngIf="isOverRate" class="alert alert-danger">
        Amount is over balance
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button class="btn btn-primary col-md-12" type="submit" *ngIf="!isConfirmed" [disabled]="!form.valid 
        || isOverAmount" (click)="onSubmit()">SUBMIT</button>
        <button class="btn btn-primary col-md-12" type="submit" *ngIf="isConfirmed">Transfer</button>
      </div>
    </div>
  </div>

</form>