<!--The content below is only a placeholder and can be replaced.-->
<app-header>
</app-header>
<div class="body-content" [style.background-image]="'url(/assets/background.jpg)'">
  <div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <app-submit-form [second]="second">
      </app-submit-form>
    </div>
    <div class="col-md-8 col-xs-12">
      <app-list-form #second>
      </app-list-form>
    </div>
  </div>
</div>
</div>