/* You can add global styles to this file, and also import other style files */
.body-content {
    /* Full height */
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
html, body {
    min-height:100vh;
    height: 100%;
  }