.justify-content-md-center {
    margin-top: 50px;
    background-color: white;
}
.form-group {
    margin: 10px;
}

.submit-header {
    display: flex;
    background-color: #0c8397;
    padding: 15px;
}
.col-icon{
    display: flex;
    justify-content: flex-end;

}
.sort-text{
    margin-right: 15px;
}
.submit-header p {
    height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    color: aliceblue;
}
.list-img {
    position: absolute;
    margin: 6px 0px;
    height: 15px;
    left: 0;
}
input {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;
}
.form-search:focus {
    outline: none;
}
.sort-text {
    font-family: 'Kanit', sans-serif;
    margin-top: 0;
}
.form-search {
height: 1.5em;
}

.sort-button {
    width: 8em;
    height: 3em;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    border: 1px solid #d0c9c9;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.sort-form{
    color: #292727;
    text-align: center;
    display: inline-block;
    margin-top: 0.5em;
}

.col-button {
border: 1px solid #d0c9c9;
}

.category {
    padding-bottom: 5px;
    width: 5px;
}

.date {
    color: #8c8989;
    width: 20%;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    margin-top: 0.5em;
}
.logo {
    height: 4em;
    width: 4em;
    padding: 0;
}
.form-list {
    margin-bottom: 0.5em;
}
.list-name {
    color: gray;
    font-size: 0.8em;
    width: 40%;
    display: inline-grid;
    font-family: 'Kanit', sans-serif;

}
.brand-name {
    font-weight: bold;
}

.trans-rate {
    margin-top: 0.5em;
    font-family: 'Kanit', sans-serif;
    text-align: right;
    width: 25%;
}

.fa {
    color: gray;
    padding: 0 4px;
}

.header-box{
    width: 100%;
    display: flex;
    color: #ffffff;
}
.header-box .title{
    width: 100%;
    text-align: center;
    flex-grow: 1;
}