<form novalidate #form="ngForm" class="justify-content-md-center">
  <div class="submit-header">
    <div class="header-box"><img class="transfer-img" src="/assets/icons/briefcase.png" /><div class="title">Recent Transactions</div></div>
  </div>
  <div class="col-12">
    <div class="row row mt-3 mb-3">
      <div class="col-md-6">
          <input type="search" [(ngModel)]="search" (ngModelChange)="filter(search)"
            placeholder="Search by typing ..." [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-icon col-md-6">
        <p class="sort-text">Sort by</p>
        <a class="sort-button" [href]="" (click)="sortOrders('date')">
          <span class="sort-form">DATE</span>
          <span *ngIf="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
          <span *ngIf="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
        </a>
        <a class="sort-button" [href]="" (click)="sortOrders('beneficiary')">
          <span class="sort-form">BENEFICIARY</span>
          <span *ngIf="sortType == 'beneficiary' && !sortReverse" class="fa fa-caret-down"></span>
          <span *ngIf="sortType == 'beneficiary' && sortReverse" class="fa fa-caret-up"></span>
        </a>
        <a class="sort-button" [href]="" (click)="sortOrders('amount')">
          <span class="sort-form">AMOUNT</span>
          <span *ngIf="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span>
          <span *ngIf="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </div>
    </div>
    <div class="form-list container-fluid pb-3">
      <div *ngFor="let f of folderObjs" class="row">
        <div class="col-button col-md-12">
          <div class="row">
            <div class="category" [ngStyle]="{'background-color': f.categoryCode}">
            </div>
            <span class="date col-md-2">
              {{f.dates.valueDate}}
            </span>
            <img class="logo col-md-1" [src]="this.showImage()">
            <div class="list-name col-md-4">
              <span class="brand-name">{{f.merchant.name}}</span>
              <span class="payment-type">{{f.transaction.type}}</span>
            </div>
            <div class="trans-rate col-md-4">
              <span class="trans-amount">{{f.transaction.amountCurrency.currencyCode}} </span>
              <span class="trans-currency">{{f.transaction.amountCurrency.amount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>